<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="js/lib/bootstrap.min.css">
    <style>
        .red{
            background: #a30;
        }
        input.error{
            border: 2px solid #a10;
        }
        .error{
            color: #aa1100;

        }
       /* p.error{
            display: none;
        }*/
        .wrapper{
            /*background-color: rgba(135, 140, 140, 0.31);*/
            width: 80%;
            margin: 50px auto;
            line-height: 50px;

        }
        body{
            background-color: #2aabd2;
        }
        #content{
            background-color: rgba(240, 240, 240, 0.65);

            width: 500px;
            height:350px;
            margin: 0 auto;
            margin-top: 100px;
            padding-top: 10px;
        }
         #isExist{
        color:red;
        visibility:hidden;
        }
    </style>
    <title>注册--新司机银行</title>
<script src="js/lib/jquery-1.12.4.min.js"></script>
</head>
<body ng-app="logApp" ng-controller="logController">
<div id="content">
<div class="wrapper">
<form name="loginForm" class="form-inline" ng-submit="submitForm()">
    <div class="form-group">
        <h3>注册新用户</h3>
        <label>用&nbsp户&nbsp名：&nbsp</label>
        <input name="username"
               type="text"
               ng-model="userdata.username"
               ng-class="{'error':loginForm.username.$invalid&& loginForm.username.$touched}"
               required ng-minlength="3"
               class="form-control" id="username"
               onblur="regBlur()" onfocus="regFocus()">
        <span class="error"
           ng-if="loginForm.username.$error.required&&loginForm.username.$touched">
            不能为空</span>
        <span class="error"
           ng-if="loginForm.username.$error.minlength&&loginForm.username.$touched">
            长度至少为3位</span>
            <span id="isExist" >该账号不存在</span>
    </div>
    <div class="form-group">
        <label>密&nbsp&nbsp&nbsp&nbsp&nbsp码&nbsp&nbsp：</label>
        <input class="form-control" type="password" name="password" ng-model="userdata.password"
        required ng-minlength="4">
        <span class="error"
           ng-if="loginForm.password.$error.required&&loginForm.password.$touched">
            密码不能为空</span>
        <span class="error"
           ng-if="loginForm.password.$error.minlength&&loginForm.password.$touched">
            长度至少为4位</span>
            
    </div>
    <div class="form-group">
        <label>确认密码：</label>

        <input class="form-control" type="password" name="repassword" ng-model="userdata.repassword"
        required compare="userdata.password">
        <span class="error"
           ng-if="loginForm.repassword.$error.compare&&loginForm.repassword.$touched">
            两次密码不一致</span>
    </div><br>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" ng-disabled="loginForm.username.$invalid" >注册</button>
    </div>
</form>
</div>
</div>

<script src="https://code.angularjs.org/1.6.0/angular.min.js"></script>
<script>
    //一个单页只能使用一次ng-app
    var app= angular.module('logApp',[]);
    app.controller('logController',function ($scope) {
        $scope.userdata={};
        $scope.submitForm=function () {
            //js里面用变量不要加双大括号
            console.log($scope.userdata);
            if($scope.loginForm.$invalid){
                alert("请检查输入信息");
            }else{
            	var username=$("#username").val().trim();
            	var username=$("#password").val().trim();
            	if(username!=""){
            		$.ajax({
            			url:'IsExist.do',
            			method:'post',
            			data:{"toUsername":toUsername},//要传回的数据
            			dataType:'text',
            			success:function(msg){
            				if(msg=="fail"){
            					$("#isExist").css("visibility","visible"); 
            				}
            			}
            		}); 
            	}
            }
        }
    });
    //比较两次密码是否一致
        app.directive('compare',function () {
        var o={};
        o.strict='AE';
        o.scope={
            //第一次密码
            orgText:'=compare'
        }
        o.require='ngModel';
        o.link=function (sco,ele,att,con) {
            con.$validators.compare=function (v) {
                //返回两次密码是否一致
                return v==sco.orgText;
            }
            //一旦这个有变化，就开始验证
            sco.watch('orgText',function () {
                con.$validate();
            })
        }
        return o;
    })
    
   /*  function register(){
    	alert("注册");
    } */
  //验证数据用户名是否存在
    function regBlur(){
    	var username=$("#username").val();
    	if(username!=""){
    		$.ajax({
    			url:'IsExist.do',
    			method:'post',
    			data:{"toUsername":username},//要传回的数据
    			dataType:'text',
    			success:function(msg){
    				if(msg=="fail"){
    					$("#isExist").html("该账号可用");
    					$("#isExist").css("visibility","visible");
    					$("#isExist").css("visibility","visible");
    					$("#isExist").css("color","green");
    				}else{
    					$("#isExist").html("该账号已被占用");
    					$("#isExist").css("visibility","visible");
    					$("#isExist").css("color","red");
    				}
    			}
    		}); 
    	}
    	
    }
    function regFocus(){
    	$("#isExist").css("visibility","hidden"); 
    }
    
</script>
</body>
</html>