<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ebank</display-name>
  <filter>
    <filter-name>OnlineFilter</filter-name>
    <filter-class>com.bank.filter.LoginCheck</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>OnlineFilter</filter-name>
    <url-pattern>/manage.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>OnlineFilter</filter-name>
    <url-pattern>/addInfo.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>OnlineFilter</filter-name>
    <url-pattern>/AddInfo.do</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>